= simple_form_for @wiki, class: 'form-horizontal' do |f|
  = f.error_notification
  .form-controls
    = f.simple_fields_for :seo_metadata do |seo_form|
      = seo_form.input :keywords
      = seo_form.input :description
    = f.input :title
    = f.input :text, as: :bootsy, input_html: {style: 'width: 650px; height: 300px;'}

  .form-actions
    = f.button :submit
