= simple_form_for @wiki, class: 'form-horizontal' do |f|
  = f.error_notification

  - if params[:preview_button]
    .panel.panel-default
      .panel-heading
        %h3
          = @wiki.title
      .panel-body
        = raw @wiki.text

  .form-controls
    = f.simple_fields_for :seo_metadata do |seo_form|
      = seo_form.input :keywords
      = seo_form.input :description
    = f.input :title
    = f.input :text, as: :bootsy, input_html: {style: 'width: 650px; height: 300px;'}

  .form-actions
    = f.button :submit, 'Submit'
    = f.button :submit, 'Preview', name: :preview_button
