!!!
%html
  %head
    %title= content_for(:page_title) || t('.default_page_title')
    = favicon_link_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolink-track'  => true,      async: true
    = javascript_include_tag 'application',               'data-turbolinks-track' => true,      async: true
    = csrf_meta_tags
    = render 'meta_data'
    = render 'shim'
  %body
    = render 'header'

    - flash.each do |key, value|
      = content_tag :p, value, id: key

    = yield

    = render 'footer'
