!!!
%html
  %head
    %title= content_for(:page_title) || t('.default_page_title')
    = favicon_link_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolink-track'  => true,      async: true
    = javascript_include_tag 'application',               'data-turbolinks-track' => true,      async: true
    = csrf_meta_tags
    = render 'application/meta_data'
  %body
    = render 'counters/google' if Rails.env.production?
    = render 'counters/yandex' if Rails.env.production?

    = render 'application/header'

    - flash.each do |key, value|
      = content_tag :p, value, id: key, class: 'alert'

    .container

      = yield

    = render 'application/footer'
